*{
	margin: 0; padding: 0;
	box-sizing: border-box;
	background-color: #F1FAEEFF;
}

body{
	min-width: 380px;
}

header{
	font-size: 18px;
	display: flex;
	justify-content: center;
	margin-top: 10px;
	font-family: 'Raleway', sans-serif;
}
.promt{
	font-size: 15px;
	display: flex;
	justify-content: center;
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
}

form{
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 60px;
}

.table_header{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.body_table{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
}
table{
	border: 1px solid black;
	width: max-content;
	border-collapse: collapse;
}

tr{
	border: 1px solid black;
}
th{
	border: 1px solid black;
}

.first_col{width: 40px;}
.t_1-1{background-color: #808080FF;}
.t_2-1{background-color: #F8CBADFF;}
.t_3-1{background-color: #F8CBADFF;}

.second_row :not(:first-child){
	width: 70px;
	font-weight: lighter;
	font-size: 14px;
} 
.third_row :not(:first-child){
	font-weight: lighter;
	font-size: 14px;
} 

.first_row :nth-child(n+2){
	background-color: #D9D9D9FF;
}
.second_row :nth-child(n+2){
	background-color: #E6FFFAFF;
}
.third_row :nth-child(n+2){
	background-color: #E6FFFAFF;
}

.second_row :hover{
	background-color: #ACFFFFFF;
	transition: all 0.2s linear 0s;
}
.second_row th:hover:first-child{
	background-color: #F8CBADFF;
}
.third_row :hover{
	background-color: #ACFFFFFF;
	transition: all 0.2s linear 0s;
}
.third_row th:hover:first-child{
	background-color: #F8CBADFF;
}

.sequence{
	margin-top: 30px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}
.output_sequence{
	margin-top: 6px;
}
.valueOfsequence{
	width: 80px;
	height: 20px;
	text-align: center;
	border: dashed 1px grey;
	background-color: white;
}

.end_button{
	padding: 5px;
	border-radius: 5px; 
	border: 2px solid #E0EAEAFF;
	background-color: #F4FEF4FF;
	color: #8E8E8EF3;
	font-size: 16px;
	cursor: pointer;
	transition: 1s;
	margin-top: 20px;
}
.end_button:hover{
	background-color: rgb(233, 233, 233);
	transition: 0.2s;
	font-size: 16.5px;
}

.pop-up1{
    position: fixed;
    height: 100%;
    width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.150);
	display: none;
}
.pop-up2{
    position: fixed;
    height: 100%;
    width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.150);
	display: none;
}

.body_pop-up{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 20px;
    min-width: 250px;
    transition: all 0.8s ease 0s;
    background-color: rgba(255, 255, 255, 0.150);
}

.text1{
    background: linear-gradient(to bottom, rgba(0, 251, 0, 0.616), #008D00FF);
    width: 450px;
    padding: 20px;
}
.text2{
    background: linear-gradient(to bottom, rgba(251, 17, 0, 0.616), rgb(141, 0, 0));
    width: 500px;
    padding: 20px;
}

.modals_header{
    display: flex;
    justify-content: center;
	background-color: inherit;
}

.bOk{
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-color: inherit;
	height: 60px;
}
.butOk{
	width: 70px;
	height: 35px;
	border-radius: 5px;
	background-color: #8AB4F8;
	font-weight: 550;
}
