*{
	margin: 0; padding: 0;
	box-sizing: border-box;
	background-color: #F1FAEEFF;
}
header{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

img{
	display: flex;
	margin: 20px auto;
	width: 500px;
}

form{
	font-family: Arial, Helvetica, sans-serif;
}
/*Start entering the number of states and input symbols*/
.enter{
	width: 100%;
	display: flex;
	justify-content: center;
}
.input-states {
	margin-left: 55.5px;
}
.input-characters {
	margin-left: 10px;
}
.text{
	margin-bottom: 2px;
}
.input{
	width: 45px;
	border: 1px dashed grey;
}
mark{
	background-color: #F1FAEEFF;
	font-size: 12px;
}
.enter_button{
	padding: 2px;
	border-radius: 3px; 
	border: 1px solid grey;
	background-color: #F4FEF4FF;
	color: #8E8E8EF3;
	margin-top: 5px;
}
/*End entering the number of states and input symbols*/

/*------------Table start------------*/
.table_header{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.body_table{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
}
table{
	border: 1px solid black;
	width: max-content;
	border-collapse: collapse;
}

tr{
	border: 1px solid black;
}
th{
	border: 1px solid black;
}

.first_col{width: 40px;}
.t_1-1{background-color: #808080FF;}
.t_2-1{background-color: #F8CBADFF;}
.t_3-1{background-color: #F8CBADFF;}

.first_row :nth-child(n+2){
	background-color: #D9D9D9FF;
}
.second_row :nth-child(n+2){
	background-color: #E6FFFAFF;
}
.third_row :nth-child(n+2){
	background-color: #E6FFFAFF;
}

.valueOfTable{
	width: 50px;
	height: 20px;
	text-align: center;
	border: none;
	background-color: #E6FFFAFF;
}
/*------------Table end------------*/

.body_end_button{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.end_button{
	padding: 5px;
	border-radius: 5px; 
	border: 2px solid #E0EAEAFF;
	background-color: #F4FEF4FF;
	color: #8E8E8EF3;
	font-size: 16px;
}
